*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffe3ec;
}

.header{
    background-color: #febcd3;
    height: 70px;
    color: #b72e5d;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 3px #40232d29;
    border: 1px solid #e9729b4d;
}
.top_a{
    text-decoration: none;
    font-size: 23px;
    padding-left: 50px;
}
.top{
    margin-left: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h{
    margin: 30px;
    color: #b73b66;
}
a{
    color: #d15f5f;
}