{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зоопарк</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1 style="margin-left: 50px;">
            <a href="{% url 'animal_list' %}" style="text-decoration: none;">Zоопарк</a>
        </h1>
            <div class="top">
                <a class="top_a" href="{% url 'animal_list' %}">Главная</a>
                <a class="top_a" href="{% url 'about' %}">О нас</a>
                <a class="top_a" href="#">Ссылка</a>
                <a class="top_a" href="#">Ссылка</a>
            </div>
            
        
    </div>
    <div>
        {% block content %}
        {%endblock%}
    </div>
</body>
</html>